<!-- Footer -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <div class="footer-inner">
          <div class="row">
            <div class="col-sm-6">
              <h2 class="title">About Me</h2>
              <p>
                I am Kelly a Graphic Designer based in New York, specializing in User Interface Design
                and Development.
              </p>
            </div>
            <div class="col-sm-6">
              <h2 class="title">Contact Me</h2>
              <ul>
                <li>
                  Phone: +123 456 789
                </li>
                <li>
                  Email: kendytheme.ksb@gmail.com
                </li>
                <li>
                  Location: 820 Utica Ave, Brooklyn, NY
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
