<article class="post">
  <div class="post-media">
    <a>
      <img [src]="imageURL">
    </a>
  </div>
  <div class="post-content">
    <h2 class="title">
      <a>{{articleName}}</a>
    </h2>

    <!-- Post Details -->
    <div class="post-details">
      <a class="post-date">{{articleDate}}</a>
    </div>
    <!-- End Post Details -->

    <!-- The Content -->
    <div class="the-excerpt">
      <p>
        {{articleDescription}}
      </p>
    </div>
    <!-- End The Content -->
  </div>
</article>
