<div class="col-md-9 col-md-offset-3">
  <div class="projects">
    <article class="post">
      <div class="post-media">
        <h2 class="title">Hotel</h2>
        <h3 *ngIf="articleCollection.length > 0" class="title">{{articleCollection[0].articleName}}</h3>

        <!-- The Content -->
        <app-article-container *ngIf="articleCollection"
                               [articleCollection]="articleCollection"></app-article-container>
        <!-- End The Content -->

              <div>
                <a>
                  <img src="../../assets/images/posts/4.jpg" alt="About">
                </a>
              </div>
      </div>
    </article>
  </div>
</div>
