<span class="spinner__text">Article No:</span>
<div class="spinner__wrap">
  <button class="spinner__minus disable" [class.disable]="minusDisable" (click)="clickMinus()"><i class="fas fa-long-arrow-alt-left"></i></button>
  <input type="number" class="spinner__val" [disabled]="(minusDisable && plusDisable) || disabledInput" [(ngModel)]="inputValue" (blur)="onChange($event)"/>
  <button class="spinner__plus" [class.disable]="plusDisable" (click)="clickPlus()"><i class="fas fa-long-arrow-alt-right"></i></button>
</div>
